<!DOCTYPE html>
<html lang="en">
<title>document</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
body {
  font-family: "Lato", sans-serif;
    background-image:url('C:/Users\ADMIN\Desktop\abcd\djproj\static\img\om.jpg');
  }
.mySlides {display: none}

.example1 {
  
 
  background-image:url('C:/Users/ADMIN/Desktop/abcd/djproj/static/img/b.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: 1500px 900px;
  }
}
  .navbar {
      overflow: hidden;
      background-color: rgb(116, 105, 105);
  }
  

</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">HOME</a>
   
    <a href="#tour" class="w3-bar-item w3-button w3-padding-large w3-hide-small">LOGIN</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a>
   
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
  </div>
</div>



<!-- Page content -->

  <!-- The Band Section -->
  <body>
    <div class="example1">
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px"   >
  
    <h1 class="w3-wide" font-size=50px><b>HOSPITAL</b></h1>
    <h3 align=left>OUR MISSION</h3>
<p>Our mission is to deliver high quality, affordable healthcare services to the broader 
  population in India. Our core values are represented by the acronym "iCare", which encompasses innovation and 
  efficiency, Compassionate care, Accountability, Respect for all, and Excellence as a culture. At the same time,
   we seek to generate a strong financial performance and deliver long-term value to our shareholders through the 
   execution of our business strategy</p>


  </body>
</div>
  </div>

  <!-- The Tour Section -->
  <div class="w3-black" id="tour">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <h2 class="w3-wide w3-center">LOGIN</h2>
      

      <div class="w3-row-padding w3-padding-32" style="margin:0 -16px" >
        <div class="w3-third w3-margin-bottom"style="width:50%">
          <img src="C:\Users\ADMIN\Desktop\abcd\djproj\static\img\doc.jpg" alt="Doctor" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Doctor</b></p>
            <a href="{{temp}}" class="w3-button w3-black w3-margin-bottom" target="_blank"><button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Login</button></a>
          </div>
        </div>

  
        <div class="w3-third w3-margin-bottom" style="width:50%">
          <img src="C:\Users\ADMIN\Desktop\abcd\djproj\static\img\p.jpg" alt="Patient" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white" >
            <p><b>Patient</b></p>
            <a href="{{tempP}}" class="w3-button w3-black w3-margin-bottom" target="_blank">
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block' ">Login</button></a>
            &nbsp;&nbsp;&nbsp;
            <a href={{tempPS}} >
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block' ">Sign Up</button></a>
          </div>
        </div>
      
        
        <div class="w3-third w3-margin-bottom" style="width:50%">
          <img src="C:\Users\ADMIN\Desktop\abcd\djproj\static\img\rep.jpg" alt="Receptionist" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Receptionist</b></p><a href="{{tempR}}" class="w3-button w3-black w3-margin-bottom" target="_blank">
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Login</button></a>
          </div>
        </div>
          <div class="w3-third w3-margin-bottom" style="width:50%">
            <img src="C:\Users\ADMIN\Desktop\abcd\djproj\static\img\ambulanceo.png" alt="Ambulance" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
              <p><b>Ambulance Driver</b></p><a href="{{tempE}}" class="w3-button w3-black w3-margin-bottom" target="_blank">
              <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Login</button></a>
            </div></form>
        </div>
      </div>
    </div>
  </div>

 
   </form>
    </div>
  </div>
</div>
  <!-- The Contact Section -->
  <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    <h1 align="center"> CONTACT </h1>
    <h2 class="w3-wide w3-center">DEVELOPER INFO</h2>
    
    <div class="w3-row w3-padding-32">
  
      
    
       <table align="center">
        <tr>
          <td align="left">SPOORTHY K M</td>
          <td>: 1SI17IS041</td> 
      
        </tr>
        <tr>
          <td align="left">SUCHETHA G HEGDE</td>
          <td align="center">: 1SI17IS042</td>
          
        </tr>
      
        <tr>
          <td align="left">VIJETHA N</td>
          <td align="center">: 1SI17IS042</td>
          
        </tr>
        <tr>
          <td align="left"> POOJA BHASKARA HEGDE</td>
          <td>: 1SI17IS026</td>
          </tr>

          <tr>
            <td align="left">JAYASHREE</td>
            <td>: 1SI17IS014</td>
          </tr>
          

      </table>
      <h1>Dashboard</h1>
      Number Of Patient:{{p|length}}
      Number Of Receptionist:{{r|length}}
      Number Of Dctor:{{d|length}}

    
      </div>
    
    </div>
   


  


  <video width="1000" height="500" controls>
    <source src="C:\Users\ADMIN\Desktop\abcd\djproj\static\img\vie.mp4" type="video/mp4">
    <source src="C:\Users\ADMIN\Desktop\abcd\djproj\static\img\vie.ogg" type="video/ogg">
 
  </video>






