<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>inside report.html</h1>
   <p>patient name:{{fo.patient_name}}</p>
   <p>Sex:{{fo.Sex}}</p>
   <p>age:{{fo.Age}}</p>
   <p>address:{{fo.Address}}</p>
   <p>contact:{{fo.Contact}}</p>
   <p>blood group:{{fo.Blood_group}}</p>
   <p>email:{{fo.Email}}</p>
   <p>hemoglobin:{{bo.Hemoglobin}}</p>
<p>neutrophils:{{bo.Neutrophils}}</p>
<p>lymphocytes:{{bo.lymphocytes}}</p>
<p>monocytes:{{bo.monocytes}}</p>
<p>basophils:{{bo.basophils}}</p>
<p>eosinophils:{{bo.eosinophils}}</p>
<p>rbc:{{bo.rbc}}</p>
<p>platelets:{{bo.platelets}}</p>
</body>
</html>
-->
